/* VARIABLES */
$color_1: white;
$color_2: lightgrey;
$color_3: black;
$color_4: transparent;
$color_5: rgb(131, 222, 206);
$color_6: grey;
$font-family_1: "Robot", sans-serif;
$font-family_2: "Shrikhand", cursive;
$background-color_1: #f1f1f1;
$background-color_2: #f7f7f7;
$background-color_3: white;
$background-color_4: rgb(178, 79, 223);
$background-color_5: rgb(235, 124, 235);
$background-color_6: rgb(131, 222, 206);
$background-color_7: rgb(74, 74, 74);


/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

/* STYLE */
*, ::before, ::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0 auto;
    font-family: $font-family_1;
}

main {
    min-height: 100%;
    &::after{
        content: "";
        display: block;
    }
}

/* HEADER */
.navbar {
    padding: 18px 30%;
    box-shadow: 0px 5px 10px 0px #cac9c9;
    position: relative;
    z-index: 1;
    &--arrow {
        display: flex;
    }
    &__logo {
        width: 100%;
    }
    &__goback {
        background-color: $color_4;
        border: none;
        position: absolute;
        left: 20px;
        font-size: large;
        &:hover {
            left: 18px;
        }
    }
}


/* FOOTER */
.footer {
    background-color: $background-color_7;
    position: relative;
    bottom: 0;
    padding: 10px 20px;
    &__logo {
        color: $color_1;
        font-family: $font-family_2;
    }
}

.footerlist {
    padding: 0;  
    &__item {
        list-style: none;
        i{
            font-size: 10px;
        }
        a {
            color: $color_1;
            text-decoration: none;
        }
    }
}

/* HOME */

/* FIRST SECTION */
#section-1 {
    text-align: center;
}

#location {
    padding: 10px 0;
    background-color: $background-color_1;
}

#presentation {
    padding: 20px 30px;
    padding-bottom: 50px;
    background-color: $background-color_2;
}

.gradient-btn {
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient($background-color_5, $background-color_4);
    color: $color_1;
    border: none;
    box-shadow: 1px 3px 5px 2px $color_2;
    &:hover {
        box-shadow: 1px 3px 7px 4px $color_2;
    }
}

/* SECOND SECTION */
#section-2 {
    margin: 40px 20px;
}

.step {
    &__item {
        display: flex;
        align-items: center;
        background-color: $background-color_2;
        border-radius: 20px;
        padding: 8px;
        margin: 15px 0;
        box-shadow: 0 5px 10px 0 $color_2;
        list-style: none;
    }
    &__number {
        color: white;
        background-color: $background-color_4;
        padding: 10px 12px;
        border-radius: 40px;
        font-size: 10px;
        position: relative;
        left: -22px;
    }
    &__icon {
        padding: 3px 10px;
        color: $color_6;
    }
}

/* RESTAU SECTION */
#restau {
    background-color: $background-color_2;
    padding: 30px 30px;
}

.card {
    background-color: $background-color_3;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 $color_2;
    margin: 20px 0;
    &__link {
        text-decoration: none;
        color: $color_3;
    }
    &__img {
        width: 100%;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
        height: 180px;
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        line-height: 0.5;
    }
    &:hover {
        box-shadow: 2px 4px 6px 0 $color_2;
    }
}

.fa-heart {
    font-size: x-large;
}

.heart-full {
    position: absolute;
    right: 50px;
    color: $color_4;
    z-index: 1;
    opacity: 0;
    transition: background-image 2s;
    background-image: linear-gradient($background-color_5, $background-color_4);
    background-clip: text;
    &:hover {
        animation: fullheart 0.5s 0s ease-in forwards;
    }
}


/* MENU PAGE */
#menu-resto {
    background-color: $background-color_1;
    img {
        width: 100%;
        object-fit: cover;
    }
}

.menucard {
    border-radius: 40px 40px 0 0 ;
    background-color: $background-color_1;
    position: relative;
    top: -60px;
    &__title {
        padding: 0 20px;
        h2 {
            font-family: $font-family_2;
        }
        i{
            padding: 20px;
        }
        .heart-full {
            right: 20px;
        }
    }
}

.col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    padding: 0 20px;
    h3 {
        text-transform: uppercase;
        font-weight: 100;
        margin: 6px 0;
    }
    hr {
        margin-right: 87%;
        margin-top: 0;
        background-color: $background-color_6;
        border: none;
        height: 3px;
    }
    &__item {
        background-color: $background-color_3;
        border-radius: 20px;
        padding: 0 10px;
        margin: 10px 0;
        box-shadow: 1px 1px 3px 0 $color_2;
        overflow: hidden;
        transform: scaleY(0);
        animation: itemappear .3s 0.5s linear forwards;
        &:hover {
            .menu__comp {
                animation: checking 0.5s ease-in forwards;
            }
            .menu__check-icon {
                animation: rotation 0.6s ease-in forwards;
            }
        }
    }
    &__content {
        h4, p {
            margin: 4px 0;
        }
    }
    &__comp {
        display: flex;
        align-items: center;
        position: relative;
        right: -65px;
    }
    &__price {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin: 0 3vw;
        font-weight: bold;
    }
    &__check {
        width: 4rem;
        background-color: $background-color_6;
        border-radius: 0 20px 20px 0;
        color: $color_5;
        padding: 23px 10px;
        position: relative;
        right: -10px;
        display: flex;
        justify-content: center;
    }
    &__check-icon {
        background-color: $background-color_3;
        border-radius: 20px;
        width: 1.6rem;
        height: 1.6rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(360deg);
    }
}

@for $i from 1 to 9 {
    .delay-#{$i} {
      animation-delay: #{$i/10}s;
    }
  }

.order {
    text-align: center;
    margin-top: 4vh;
    .gradient-btn {
        width: 40vw;
        text-align: center;
        font-size: bold;
        padding: 12px 0;
    }
}

/* ANIMATIONS */
@keyframes fullheart {
	0% {
		color: transparent;
		background-image: none;
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	70% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}
@keyframes checking {
	0% {
		right: -65px;
	}
	100% {
		right: 0;
	}
}
@keyframes rotation {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@keyframes itemappear {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}