/* VARIABLES */
/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
/* STYLE */
*, ::before, ::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

main {
  min-height: 100%;
}
main::after {
  content: "";
  display: block;
}

.title {
  font-family: "Shrikhand", cursive;
}

/* lOADER */
.loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  width: 100%;
  opacity: 1;
  z-index: 5;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.768);
  -webkit-animation: loadbg 6s ease-in forwards;
          animation: loadbg 6s ease-in forwards;
}
.loader__point {
  -webkit-animation: loadappear 2s ease-in-out infinite;
          animation: loadappear 2s ease-in-out infinite;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  margin: 0 10px;
}
.loader__point:first-child {
  background-color: #99E2D0;
}
.loader__point:nth-child(2) {
  background-color: #FF79DA;
}
.loader__point:nth-child(3) {
  background-color: #9356DC;
}

.l-1 {
  -webkit-animation-delay: 0.5555555556s;
          animation-delay: 0.5555555556s;
}

.l-2 {
  -webkit-animation-delay: 1.1111111111s;
          animation-delay: 1.1111111111s;
}

/* HEADER */
.navbar {
  padding: 18px 30%;
  box-shadow: 0px 5px 10px 0px #cac9c9;
  position: relative;
  z-index: 1;
  text-align: center;
}
.navbar--arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__logo {
  width: 180px;
}
.navbar__goback {
  color: black;
  position: absolute;
  left: 20px;
  font-size: large;
}
.navbar__goback:hover {
  left: 18px;
}

/* FOOTER */
.footer {
  background-color: rgb(74, 74, 74);
  position: relative;
  bottom: 0;
  padding: 10px 20px;
}
.footer__logo {
  color: white;
  font-size: 18px;
}

.footerlist {
  padding: 0;
}
.footerlist__item {
  list-style: none;
}
.footerlist__item i {
  font-size: 10px;
}
.footerlist__item a {
  color: white;
  text-decoration: none;
}

/* HOME */
/* FIRST SECTION */
#section-1 {
  text-align: center;
}

#location {
  padding: 10px 0;
  background-color: #f1f1f1;
}

#presentation {
  padding: 20px 30px;
  padding-bottom: 50px;
  background-color: #f7f7f7;
}

.gradient-btn {
  border-radius: 20px;
  padding: 10px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  box-shadow: 1px 3px 5px 2px lightgrey;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
}
.gradient-btn:hover {
  box-shadow: 1px 3px 7px 4px lightgrey;
  opacity: 0.9;
}

/* SECOND SECTION */
#section-2 {
  margin: 40px 5%;
}

.step__item {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 8px;
  margin: 15px 0;
  box-shadow: 0 5px 10px 0 lightgrey;
  list-style: none;
}
.step__item:hover {
  background-color: rgba(237, 228, 243, 0.768);
}
.step__item:hover i.step__icon {
  color: #9356DC;
}
.step__number {
  color: white;
  background-color: #9356DC;
  padding: 10px 12px;
  border-radius: 40px;
  font-size: 10px;
  position: relative;
  left: -22px;
}
.step__icon {
  padding: 3px 10px;
  color: grey;
}

@media screen and (min-width: 768px) {
  .step {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .step__item {
    margin: 5px 15px;
    padding: 10px 5px;
    width: 20rem;
  }
}
/* RESTAU SECTION */
.restau {
  background-color: #f7f7f7;
  padding: 30px 5%;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 lightgrey;
  margin: 20px 0;
}
.card__link {
  text-decoration: none;
  color: black;
}
.card__img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 180px;
}
.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  line-height: 0.5;
}
.card__heart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}
.card:hover {
  box-shadow: 2px 4px 6px 0 lightgrey;
}

.fa-heart {
  font-size: x-large;
  cursor: pointer;
}

.heart-full {
  position: absolute;
  color: transparent;
  z-index: 1;
  opacity: 0;
  transition: background-image 2s;
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
}
.heart-full:hover {
  -webkit-animation: fullheart 0.5s ease-in forwards;
          animation: fullheart 0.5s ease-in forwards;
}

/* MENU PAGE */
#menu-resto {
  background-color: white;
}
#menu-resto img {
  width: 100%;
  max-width: 100%;
  max-height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.menucard {
  border-radius: 40px 40px 0 0;
  background-color: #f1f1f1;
  position: relative;
  top: -3rem;
}
.menucard__title {
  padding: 0 20px;
}
.menucard__title i {
  padding: 20px;
}
.menucard__title .heart-full {
  right: 20px;
}
.menucard--mod {
  top: -170px;
}

.col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  padding: 5px 20px;
  margin-bottom: 20px;
}
.menu h3 {
  text-transform: uppercase;
  font-weight: 100;
  margin: 6px 0;
}
.menu hr {
  margin-right: 87%;
  margin-top: 0;
  background-color: #99E2D0;
  border: none;
  height: 3px;
}
.menu__item {
  background-color: white;
  border-radius: 20px;
  padding: 0 10px;
  margin: 10px 0;
  box-shadow: 1px 1px 3px 0 lightgrey;
  overflow: hidden;
  transform: scaleY(0);
  -webkit-animation: itemappear 0.5s 0.5s linear forwards;
          animation: itemappear 0.5s 0.5s linear forwards;
}
.menu__item:hover .menu__comp {
  -webkit-animation: checking 0.5s ease-in forwards;
          animation: checking 0.5s ease-in forwards;
}
.menu__item:hover .menu__check-icon {
  -webkit-animation: rotation 0.6s ease-in forwards;
          animation: rotation 0.6s ease-in forwards;
}
.menu__content {
  white-space: nowrap;
  overflow: hidden;
}
.menu__content h4, .menu__content p {
  margin: 4px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__content p {
  font-size: 15px;
}
.menu__comp {
  display: flex;
  align-items: center;
  position: relative;
  right: -65px;
}
.menu__price {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0 3vw;
  font-weight: bold;
}
.menu__check {
  width: 4rem;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  color: #99E2D0;
  padding: 23px 10px;
  position: relative;
  right: -10px;
  display: flex;
  justify-content: center;
}
.menu__check-icon {
  background-color: white;
  border-radius: 20px;
  width: 1.6rem;
  height: 1.6rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(360deg);
}

.delay-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.delay-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.delay-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.delay-4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.delay-5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.delay-6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.delay-7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.delay-8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.delay-9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.order {
  text-align: center;
  margin-top: 4vh;
}
.order .gradient-btn {
  width: 15rem;
  text-align: center;
  font-weight: bold;
  padding: 12px 0;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .restau__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    width: 18rem;
    margin: 10px 20px;
  }
}
@media screen and (min-width: 950px) {
  .menucard {
    margin: 0 20vw;
  }
}
@media screen and (min-width: 1200px) {
  .restau__cards {
    flex-wrap: nowrap;
  }
  .menucard {
    margin: 0 30vw;
  }
}
@media screen and (min-width: 1400px) {
  .menucard {
    margin: unset;
  }
  .menu-list {
    display: flex;
    justify-content: center;
  }
  .menu__item {
    width: 26rem;
  }
}
/* ANIMATIONS */
@-webkit-keyframes loadbg {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -3;
  }
}
@keyframes loadbg {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -3;
  }
}
@-webkit-keyframes loadappear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loadappear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fullheart {
  0% {
    color: transparent;
    background-image: none;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fullheart {
  0% {
    color: transparent;
    background-image: none;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes checking {
  0% {
    right: -65px;
  }
  100% {
    right: 0;
  }
}
@keyframes checking {
  0% {
    right: -65px;
  }
  100% {
    right: 0;
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes itemappear {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes itemappear {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}/*# sourceMappingURL=style.css.map */