/* VARIABLES */
$light: white;
$lightgrey: lightgrey;
$dark: black;
$trans: transparent;
$grey: grey;
$lightdark: rgb(74, 74, 74);
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$text: "Roboto", sans-serif;
$title: "Shrikhand", cursive;
$color1: #f1f1f1;
$color2: #f7f7f7;
$gradient: linear-gradient($secondary, $primary);

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

/* STYLE */
*, ::before, ::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0 auto;
    font-family: $text;
}

main {
    min-height: 100%;
    &::after{
        content: "";
        display: block;
    }
}

.title {
    font-family: $title;
}

/* lOADER */
.loader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    width: 100%;
    opacity: 1;
    z-index: 5;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.768);
    animation: loadbg 6s ease-in forwards;

    &__point {
        &:first-child{
            background-color: $tertiary;
        }
        &:nth-child(2) {
            background-color: $secondary;
        }
        &:nth-child(3) {
            background-color: $primary;
        }
        animation: loadappear 2s ease-in-out infinite;
        width: 20px;
        height: 20px;
        border-radius: 30px;
        margin: 0 10px;
    }
}

@for $i from 1 to 3 {
    .l-#{$i} {
      animation-delay: #{$i/1.8}s;
    }
  }



/* HEADER */
.navbar {
    padding: 18px 30%;
    box-shadow: 0px 5px 10px 0px #cac9c9;
    position: relative;
    z-index: 1;
    text-align: center;
    &--arrow {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__logo {
        width: 180px;
    }
    &__goback {
        color: $dark;
        position: absolute;
        left: 20px;
        font-size: large;
        &:hover {
            left: 18px;
        }
    }
}


/* FOOTER */
.footer {
    background-color: $lightdark;
    position: relative;
    bottom: 0;
    padding: 10px 20px;
    &__logo {
        color: $light;
        font-size: 18px;
    }
}

.footerlist {
    padding: 0;  
    &__item {
        list-style: none;
        i{
            font-size: 10px;
        }
        a {
            color: $light;
            text-decoration: none;

        }
    }
}

/* HOME */
/* FIRST SECTION */
#section-1 {
    text-align: center;
}

#location {
    padding: 10px 0;
    background-color: $color1;
}

#presentation {
    padding: 20px 30px;
    padding-bottom: 50px;
    background-color: $color2;
}

.gradient-btn {
    border-radius: 20px;
    padding: 10px;
    background: $gradient;
    color: $light;
    border: none;
    box-shadow: 1px 3px 5px 2px $lightgrey;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
    &:hover {
        box-shadow: 1px 3px 7px 4px $lightgrey;
        opacity: 0.9;
    }
}

/* SECOND SECTION */
#section-2 {
    margin: 40px 5%;
}

.step {
    &__item {
        display: flex;
        align-items: center;
        background-color: $color2;
        border-radius: 20px;
        padding: 8px;
        margin: 15px 0;
        box-shadow: 0 5px 10px 0 $lightgrey;
        list-style: none;
        &:hover {
            background-color: rgba(237, 228, 243, 0.768);
            i.step__icon {
                color: $primary;
            }
        }
    }
    &__number {
        color: white;
        background-color: $primary;
        padding: 10px 12px;
        border-radius: 40px;
        font-size: 10px;
        position: relative;
        left: -22px;
    }
    &__icon {
        padding: 3px 10px;
        color: $grey;
    }
}

@media screen and (min-width: 768px) {
    .step {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__item {
            margin: 5px 15px;
            padding: 10px 5px;
            width: 20rem;
        }
    }
}


/* RESTAU SECTION */
.restau {
    background-color: $color2;
    padding: 30px 5%;
}

.card {
    background-color: $light;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 $lightgrey;
    margin: 20px 0;
    &__link {
        text-decoration: none;
        color: $dark;
    }
    &__img {
        width: 100%;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
        height: 180px;
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        line-height: 0.5;
    }
    &__heart {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
    }
    &:hover {
        box-shadow: 2px 4px 6px 0 $lightgrey;
    }
}


.fa-heart {
    font-size: x-large;
    cursor: pointer;
}

.heart-full {
    position: absolute;
    color: $trans;
    z-index: 1;
    opacity: 0;
    transition: background-image 2s;
    background-image: $gradient;
    background-clip: text;
    &:hover {
        animation: fullheart 0.5s ease-in forwards;
    }
}


/* MENU PAGE */
#menu-resto {
    background-color: $light;
    img {
        width: 100%;
        max-width: 100%;
        max-height: 50vh;
        object-fit: cover;
    }
}

.menucard {
    border-radius: 40px 40px 0 0 ;
    background-color: $color1;
    position: relative;
    top: -3rem;
    &__title {
        padding: 0 20px;
        i{
            padding: 20px;
        }
        .heart-full {
            right: 20px;
        }
    }
    &--mod {
        top: -170px;
    }
}


.col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    padding: 5px 20px;
    margin-bottom: 20px;
    h3 {
        text-transform: uppercase;
        font-weight: 100;
        margin: 6px 0;
    }
    hr {
        margin-right: 87%;
        margin-top: 0;
        background-color: $tertiary;
        border: none;
        height: 3px;
    }
    &__item {
        background-color: $light;
        border-radius: 20px;
        padding: 0 10px;
        margin: 10px 0;
        box-shadow: 1px 1px 3px 0 $lightgrey;
        overflow: hidden;
        transform: scaleY(0);
        animation: itemappear .5s .5s linear forwards;
        &:hover {
            .menu__comp {
                animation: checking 0.5s ease-in forwards;
            }
            .menu__check-icon {
                animation: rotation 0.6s ease-in forwards;            
            }
        }
    }
    &__content {
        white-space: nowrap;
        overflow: hidden;
        
        h4, p {
            margin: 4px 0;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p {
            font-size: 15px;
        }
    }
    &__comp {
        display: flex;
        align-items: center;
        position: relative;
        right: -65px;
    }
    &__price {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin: 0 3vw;
        font-weight: bold;
    }
    &__check {
        width: 4rem;
        background-color: $tertiary;
        border-radius: 0 20px 20px 0;
        color: $tertiary;
        padding: 23px 10px;
        position: relative;
        right: -10px;
        display: flex;
        justify-content: center;
    }
    &__check-icon {
        background-color: $light;
        border-radius: 20px;
        width: 1.6rem;
        height: 1.6rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(360deg);
    }
}

@for $i from 1 to 10 {
    .delay-#{$i} {
      animation-delay: #{$i/10}s;
    }
  }

.order {
    text-align: center;
    margin-top: 4vh;
    .gradient-btn {
        width: 15rem;
        text-align: center;
        font-size: bold;
        padding: 12px 0;
    }
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
    .restau {
        &__cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .card {
        width: 18rem;
        margin: 10px 20px;
    }
}
@media screen and (min-width: 950px) {


    .menucard {
        margin: 0 20vw;
    }
}
@media screen and (min-width: 1200px) {
    .restau{
        &__cards {
            flex-wrap: nowrap;
        }
    }

    .menucard {
        margin: 0 30vw;
    }
}
@media screen and (min-width: 1400px) {
    .menucard {
        margin: unset;

    }

    .menu-list {
        display: flex;
        justify-content: center;
    }
    .menu {
        &__item {
            width: 26rem;

        }
    }

}



/* ANIMATIONS */
@keyframes loadbg {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -3;
    }
}

@keyframes loadappear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fullheart {
	0% {
		color: transparent;
		background-image: none;
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	70% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}
@keyframes checking {
	0% {
		right: -65px;
	}
	100% {
		right: 0;
	}
}
@keyframes rotation {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@keyframes itemappear {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}

