/* HEADER */
.navbar {
    padding: 18px 30%;
    box-shadow: 0px 5px 10px 0px #cac9c9;
    position: relative;
    z-index: 1;
    text-align: center;
    &--arrow {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__logo {
        width: 180px;
    }
    &__goback {
        color: $dark;
        position: absolute;
        left: 20px;
        font-size: large;
        &:hover {
            left: 18px;
        }
    }
}


